body{
    text-align: center;
    background-color: greenyellow;
}
h1{
    font-size: 5em;
    font-style: italic;
    color: blue;
}
button{
    background-color: blue;
    height: 40px;
    color: white;
    font-style: italic;
    border-radius: 20px;
    width: 120px;
    font-size: 20px;
    margin: 10px;
}
input{
    size: 300px;
    height: 70px;
    width: 350px;
    font-size:xx-large;
    font-style: italic;
    border-radius: 15px;
}
li{
    font-size: xx-large;
    font-style: italic;
}